.git
.gitignore
node_modules
build
coverage
.scannerwork
.sonar
dependency-check-report.xml
dependency-check-report.html
trivyfs.txt
trivyimage.txt
Dockerfile*
Jenkinsfile
K8S
Terraform
scripts
README.md
*.pdf
